@page "/tbl-gn-payment-terms"
@layout MainLayout
@inherits ErpCan.Pages.TblGnPaymentTermsComponent

@using Radzen
@using Radzen.Blazor
@using ErpCan.Models.CanErpDbAt132
<RadzenContent Container="contentContainer0">
  <ChildContent>
    <RadzenHeading Size="H1" Text="Tbl Gn Payment Terms">
    </RadzenHeading>
    <div class="row">
      <div class="col-md-12">
        <RadzenButton Icon="add_circle_outline" style="margin-bottom: 10px" Text="Add" Click="@Button0Click">
        </RadzenButton>
        <RadzenGrid @ref="grid0" AllowFiltering="true" AllowPaging="true" AllowSorting="true" Data="@(getTblGnPaymentTermsResult)" TItem="ErpCan.Models.CanErpDbAt132.TblGnPaymentTerm" RowSelect="@Grid0RowSelect">
          <Columns>
            <RadzenGridColumn TItem="ErpCan.Models.CanErpDbAt132.TblGnPaymentTerm" Context="erpCanModelsCanErpDbAt132TblGnPaymentTerm" Property="PaymentTerm_SEQ" Title="Payment Term SEQ" Type="integer">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="ErpCan.Models.CanErpDbAt132.TblGnPaymentTerm" Context="erpCanModelsCanErpDbAt132TblGnPaymentTerm" Property="PaymentTerm_ID" Title="Payment Term ID" Type="string">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="ErpCan.Models.CanErpDbAt132.TblGnPaymentTerm" Context="erpCanModelsCanErpDbAt132TblGnPaymentTerm" Property="PaymentTermText" Title="Payment Term Text" Type="string">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="ErpCan.Models.CanErpDbAt132.TblGnPaymentTerm" Context="erpCanModelsCanErpDbAt132TblGnPaymentTerm" Filterable="false" Sortable="false" Bubble="false" Width="70px" TextAlign="TextAlign.Center">
              <Template Context="erpCanModelsCanErpDbAt132TblGnPaymentTerm">
                <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="close" Size="ButtonSize.Small" Click="@((args) =>GridDeleteButtonClick(args, erpCanModelsCanErpDbAt132TblGnPaymentTerm))">
                </RadzenButton>
              </Template>
            </RadzenGridColumn>
          </Columns>
        </RadzenGrid>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
