@page "/tbl-so-order-statuses"
@layout MainLayout
@inherits ErpCan.Pages.TblSoOrderStatusesComponent

@using Radzen
@using Radzen.Blazor
@using ErpCan.Models.CanErpDbAt132
<RadzenContent Container="contentContainer0">
  <ChildContent>
    <RadzenHeading Size="H1" Text="Tbl So Order Statuses">
    </RadzenHeading>
    <div class="row">
      <div class="col-md-12">
        <RadzenButton Icon="add_circle_outline" style="margin-bottom: 10px" Text="Add" Click="@Button0Click">
        </RadzenButton>
        <RadzenGrid @ref="grid0" AllowFiltering="true" AllowPaging="true" AllowSorting="true" Data="@(getTblSoOrderStatusesResult)" TItem="ErpCan.Models.CanErpDbAt132.TblSoOrderStatus" RowSelect="@Grid0RowSelect">
          <Columns>
            <RadzenGridColumn TItem="ErpCan.Models.CanErpDbAt132.TblSoOrderStatus" Context="erpCanModelsCanErpDbAt132TblSoOrderStatus" Property="SOStatus_SEQ" Title="SO Status SEQ" Type="integer">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="ErpCan.Models.CanErpDbAt132.TblSoOrderStatus" Context="erpCanModelsCanErpDbAt132TblSoOrderStatus" Property="SOStatus_ID" Title="SO Status ID" Type="string">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="ErpCan.Models.CanErpDbAt132.TblSoOrderStatus" Context="erpCanModelsCanErpDbAt132TblSoOrderStatus" Property="SOStatusText" Title="SO Status Text" Type="string">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="ErpCan.Models.CanErpDbAt132.TblSoOrderStatus" Context="erpCanModelsCanErpDbAt132TblSoOrderStatus" Property="Description" Title="Description" Type="string">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="ErpCan.Models.CanErpDbAt132.TblSoOrderStatus" Context="erpCanModelsCanErpDbAt132TblSoOrderStatus" Filterable="false" Sortable="false" Bubble="false" Width="70px" TextAlign="TextAlign.Center">
              <Template Context="erpCanModelsCanErpDbAt132TblSoOrderStatus">
                <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="close" Size="ButtonSize.Small" Click="@((args) =>GridDeleteButtonClick(args, erpCanModelsCanErpDbAt132TblSoOrderStatus))">
                </RadzenButton>
              </Template>
            </RadzenGridColumn>
          </Columns>
        </RadzenGrid>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
