@page "/tbl-hp-trinh-do-van-hoas"
@layout MainLayout
@inherits CanErpHp.Pages.TblHpTrinhDoVanHoasComponent

@using Radzen
@using Radzen.Blazor
@using CanErpHp.Models.DbAtVdc2
<RadzenContent Container="main">
  <ChildContent>
    <RadzenHeading Size="H1" Text="Tbl Hp Trinh Do Van Hoas">
    </RadzenHeading>
    <div class="row">
      <div class="col-md-12">
        <RadzenButton Icon="add_circle_outline" style="margin-bottom: 10px" Text="Add" Click="@Button0Click">
        </RadzenButton>
        <RadzenGrid @ref="grid0" AllowFiltering="true" AllowPaging="true" AllowSorting="true" Data="@getTblHpTrinhDoVanHoasResult" TItem="CanErpHp.Models.DbAtVdc2.TblHpTrinhDoVanHoa" RowSelect="@Grid0RowSelect">
          <Columns>
            <RadzenGridColumn TItem="CanErpHp.Models.DbAtVdc2.TblHpTrinhDoVanHoa" Context="canErpHpModelsDbAtVdc2TblHpTrinhDoVanHoa" Property="TrinhDoVanHoa_ID" Title="Trinh Do Van Hoa ID">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="CanErpHp.Models.DbAtVdc2.TblHpTrinhDoVanHoa" Context="canErpHpModelsDbAtVdc2TblHpTrinhDoVanHoa" Property="TrinhDoVanHoa_Name" Title="Trinh Do Van Hoa Name">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="CanErpHp.Models.DbAtVdc2.TblHpTrinhDoVanHoa" Context="canErpHpModelsDbAtVdc2TblHpTrinhDoVanHoa" Property="Description" Title="Description">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="CanErpHp.Models.DbAtVdc2.TblHpTrinhDoVanHoa" Context="canErpHpModelsDbAtVdc2TblHpTrinhDoVanHoa" Filterable="false" Sortable="false" Width="70px" TextAlign="TextAlign.Center">
              <Template Context="canErpHpModelsDbAtVdc2TblHpTrinhDoVanHoa">
                <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="close" Size="ButtonSize.Small" Click="@((args) =>GridDeleteButtonClick(args, canErpHpModelsDbAtVdc2TblHpTrinhDoVanHoa))" @onclick:stopPropagation="true">
                </RadzenButton>
              </Template>
            </RadzenGridColumn>
          </Columns>
        </RadzenGrid>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
