@page "/tbl-hp-ngaches"
@layout MainLayout
@inherits CanErpHp.Pages.TblHpNgachesComponent

@using Radzen
@using Radzen.Blazor
@using CanErpHp.Models.DbAtVdc2
<RadzenContent Container="main">
  <ChildContent>
    <RadzenHeading Size="H1" Text="Tbl Hp Ngaches">
    </RadzenHeading>
    <div class="row">
      <div class="col-md-12">
        <RadzenButton Icon="add_circle_outline" style="margin-bottom: 10px" Text="Add" Click="@Button0Click">
        </RadzenButton>
        <RadzenGrid @ref="grid0" AllowFiltering="true" AllowPaging="true" AllowSorting="true" Data="@getTblHpNgachesResult" TItem="CanErpHp.Models.DbAtVdc2.TblHpNgach" RowSelect="@Grid0RowSelect">
          <Columns>
            <RadzenGridColumn TItem="CanErpHp.Models.DbAtVdc2.TblHpNgach" Context="canErpHpModelsDbAtVdc2TblHpNgach" Property="Ngach_ID" Title="Ngach ID">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="CanErpHp.Models.DbAtVdc2.TblHpNgach" Context="canErpHpModelsDbAtVdc2TblHpNgach" Property="Ngach_Name" Title="Ngach Name">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="CanErpHp.Models.DbAtVdc2.TblHpNgach" Context="canErpHpModelsDbAtVdc2TblHpNgach" Property="Description" Title="Description">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="CanErpHp.Models.DbAtVdc2.TblHpNgach" Context="canErpHpModelsDbAtVdc2TblHpNgach" Filterable="false" Sortable="false" Width="70px" TextAlign="TextAlign.Center">
              <Template Context="canErpHpModelsDbAtVdc2TblHpNgach">
                <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="close" Size="ButtonSize.Small" Click="@((args) =>GridDeleteButtonClick(args, canErpHpModelsDbAtVdc2TblHpNgach))" @onclick:stopPropagation="true">
                </RadzenButton>
              </Template>
            </RadzenGridColumn>
          </Columns>
        </RadzenGrid>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
